@{
    ViewData["Title"] = "PAGE D'ACCUEIL";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Bienvenue à Northwind</h1>
    <p class="lead mt-4">Découvrez les fonctionnalités de gestion des commandes et explorez notre catalogue de produits.</p>
    <a href="@Url.Action("Index", "Orders")" class="btn btn-primary btn-lg mt-3">Voir les Commandes</a>
</div>
